.App-header {
  background-color: rgb(43, 178, 97);
  color: #f2f2f2;
}
/* body/tableの設定 */
body {
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  background-color: white;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #4caf50;
  color: white;
}

/* ボタンの設定 */
.row-buttons {
  display: flex;
  justify-content: center;
}
.row-button {
  padding: 8px 20px;
  border: solid 2px #ddd;
  border-radius: 10px;
  font-size: 16px;

  &:nth-child(n + 2) {
    margin-left: 20px;
  }
}
