/* ヘッダー */
.App-header {
  background-color: #05984a;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.App-header-link {
  font-size: 15px;
  text-decoration:underline;
  margin-right: 2%;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.App-subTitle {
  color: #000000;
  margin: 10px;
  position: relative;
  left: 25%;
}

.threadtitle {
  color: #000000;
  font-size: 25px;
  margin: 10px;
  position: relative;
  left: 5%;
}

/* body/tableの設定 */
body {
  background-color: #dddddd;
}

/* スレッドタイトル一覧 */
.threadlist {
  border-collapse: separate;
  width: 50%;
  margin: auto;
}

.threadlist th,
.threadlist td {
  text-align: left;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
}

/* コメント一覧 */
.commentlist {
  border-collapse: separate;
  width: 80%;
  margin: auto;
}

.commentlist th,
.commentlist td {
  text-align: left;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
}

/* スレッド/コメント欄 */
#newTitle{
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  position: relative;
  left: 25%;
  border: none;
}

#newComment {
  padding: 15px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  border: none;
}

.commentlist {  
  border-collapse: separate;
  width: 80%;
  margin: auto;
}

.commentlist th,
.commentlist td {
  text-align: r;
  background-color: #fff;
  border-radius: 5px;
}

/* 画面全体を覆うコンテナ */
.container2 {
  display: flex; /* 子要素を横に並べる */
}

/* 右半分のコンテナ */
.comment-container {
  flex: 1; /* 右半分を占有する */
  padding: 10px; /* 必要に応じて余白を設定 */
}

/* 左半分のコンテナ */
.row-container {
  flex: 1; /* 左半分を占有する */
  padding: 10px; /* 必要に応じて余白を設定 */
}

/* ボタンの設定 */
.button-container {
    margin: 10px;
    display: flex;
    flex-direction: column; /* ボタンを縦に並べる */
    align-items: center; /* 水平方向に中央揃え */
    gap: 10px; /* ボタン間の余白 */
}

.button-return {
  margin: 10px;
  padding: 8px 100px;
  margin: auto;
  border: solid 2px #585858;
  border-radius: 10px;
  font-size: 16px;
}
.button-done {
  margin: 10px;
  padding: 8px 100px;
  color: #f2f2f2;
  margin: auto;
  border: solid 2px #585858;
  background-color: #13b45e;
  border-radius: 10px;
  font-size: 16px;
}